<nav class="navbar no-background navbar-expand-lg navbar-dark fixed-top bg-primary">
  <a class="navbar-brand" href="/">
    <img src="{{ '/static/images/tor-logo.svg'|asseturl }}" >
    <span class="sr-only">{{ _("Tor Logo") }}</span>
  </a>
  <label for="nav-toggle">
    <a class="btn btn-lg btn-primary navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>
  </label>
  <input type="checkbox" id="nav-toggle"/>
  <div class="collapse navbar-collapse hamburger-menu" id="navbarSupportedContent">
    <div class="mx-auto pt-2 pl-4">
      <ul class="navbar-nav">
      	{% set menubag = 'menu+' + this.alt %}
      	{% for id, item in bag(menubag).items() %}
      	<li{% if this.is_child_of(item.path) %} class="nav-item active" {% else %} class="nav-item"{% endif %}>
          <a class="nav-link" href="{{ item.path}}">{{ _(item.label) }}
            {% if this.is_child_of(item.path) %}
            <span class="sr-only">(current)</span>
            {% endif %}
          </a>
      	</li>
	{% endfor %}
      </ul>
    </div>
    <div class="mt-2 btn-group dropdown pr-2">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ bag('alternatives', this.alt, 'language') }}
      </button>
      <div class="dropdown-menu">
        {% for id, item in bag('alternatives').items() %}
          {% if this.alt != id %}
            <a class="dropdown-item" href="{{ this.path|url(alt=id) }}">{{ item.language }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <a class="btn text-primary bg-white btn-light pull-right mt-2" href="https://www.torproject.org/download/">
      <i class="glyphicon-glyphicon-arrow-down"></i>{{ _("Download Tor Browser") }}
    </a>
  </div>
</nav>
